@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Poppins:wght@300&display=swap');

body {
    background: linear-gradient(135deg, rgba(207,25,25,1) 0%, rgba(161,90,90,1) 35%, rgba(154,119,119,1) 49%, rgba(144,144,144,1) 70%, rgba(0,0,0,1) 100%);
    margin: 0rem;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}


nav #menu ul {
    list-style-type: none;
    text-align: center;
    background-color: #000000;
    margin-top: 0;
    width: 100%;
    padding: 1.5rem 0rem;
    position: relative;
}

nav #menu ul li {
    display: inline;
}
nav #menu ul li a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #fff;
    padding: 0.8rem 1.8rem;
}

nav #menu ul li a:hover {
    color: #ff0000;
    transition: all 0.5s;
    background-color: #fff;
    border-radius: 10rem;
}


.card-content {
    background-color: #fff;
    padding: 3rem 3rem;
    margin: 1rem 10rem 1rem 10rem;
    border-radius: 1rem;
}

#footer-section {
    margin-top: 5rem;
    color: #fff;
    background-color: #000000;
    text-align: center;
    padding: 2rem 3rem;
}

#footer-section article {
    padding: 1rem;
}

#footer-section a {
    font-size: 1.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}

#players h2 {
    padding-bottom: 2rem;
}


header{
    padding: 0rem 0rem 1rem 0rem
}

header h1, h2{
    text-align: center;
    padding: 1.25rem 1.25rem 0rem 1.25rem
}

.header-trophies {
    padding: 2rem 0rem;
    text-align: center;
}

.header-trophies img{
    padding: 0.75rem;
    width: 30rem;
    height: 29rem;
    border-radius: 50%;
}

.card-content #players {
    text-align: center;
}

.player {
    padding: 1rem;
    margin: 0.5rem;
    width: 25rem;
    display: inline-block;
}

.player img {
    padding: 1rem;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

.player img:hover{
    transition: all 1s;
    transform: scale(1.1);
}

.player a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

#divHeader {
    font-family: "Poppins";
    color: #000;
    text-align: center;
    border-radius: 1rem;
    background-color: #fff;
    margin: 1.5rem 35rem;
    padding: 2rem
}

#divHeader h1 {
    margin: 0;
    padding: 0;
}

#titulos{
    text-align: center;
    width: 100%;
    border: none;
    border-collapse: separate;
    border-spacing: 1rem;
    font-size: 1.05rem;
    border-radius: 1rem;
}

#titulos th {
    background-color: #e44c4c;
    color: #fff;
    padding: 0.8rem;
    border-radius: 3rem;
}

#titulos tr {
    font-size: 1rem;
}

#titulos td{
    padding: 0.8rem;
    color: #000;
}

#titulos td:hover {
    background: linear-gradient(135deg, rgba(158,158,158,1) 3%, rgba(173,68,68,1) 32%, rgba(130,38,38,1) 66%, rgba(43,43,43,1) 97%);
    color: #fff;
    transition: all 0.8s;
    border-radius: 3rem;
}


.card-content-form {
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    margin: 1rem 40rem;
    border-radius: 4rem;
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.63);
}

.feedback-icon {
    text-align: center;
}

.feedback-icon img {
    width: 10em;
    height: 10em;
}


#sugestion-form {
    color: #000;
    font-family: 'Poppins';
    font-weight: bold;
    text-transform: uppercase;
    padding: 5% 10%;
    background-color: #fff;
    border-radius: 5rem;
}

#sugestion-form .input-group {
    padding: 1rem;
}

#sugestion-form .input-group textarea { 
    resize: none;
}

#sugestion-form .input-group input, textarea {
    font-family: 'Poppins';
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.63);
    font-weight: 200;
    width: 100%;
    background-color: #d6d6d6;
    color: #ffffff;
    margin-top: 10px;
}

#sugestion-form .input-group input:focus, textarea:focus {
    outline: none;
    color: #fff;
    transition: all 1s;
}

#sugestion-form .input-group input:hover, textarea:hover {
    background: linear-gradient(135deg, rgba(158,158,158,1) 3%, rgba(173,68,68,1) 32%, rgba(130,38,38,1) 66%, rgba(43,43,43,1) 97%);
    transition: all 0.5;
}

#sugestion-form .buttons-group {
    text-align: center;
}

#sugestion-form .buttons-group button i{
    margin-right: 0.4rem;
}


#sugestion-form .buttons-group button {
    font-family: "Poppins";
    border: none;
    margin: 0.2rem;
    padding: 1rem 2.2rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0,0,0, 0.3);
    color: #fff;
}

#sugestion-form .buttons-group button[type="reset"]{
    background-color: #b63b3b;
}

#sugestion-form .buttons-group button[type="submit"]{
    background-color: #237d59;
}

#sugestion-form .buttons-group button:focus{
    outline: none;
}

#sugestion-form .buttons-group button[type="submit"]:hover{
    background-color: #05ce7d;
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

#sugestion-form .buttons-group button[type="reset"]:hover{
    background-color: #ff1500;
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

